S3method(echart,data.frame)
S3method(echart,default)
S3method(echart,list)
export("%>%")
export(JS)
export(eAxis)
export(eChart)
export(eChartOutput)
export(eXAxis)
export(eYAxis)
export(echart)
export(renderEChart)
importFrom(htmlwidgets,JS)
importFrom(magrittr,"%>%")
